<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <style>
        h1{text-align: right;}
    </style>
    <title>REPERTUAR</title>
    
    <link rel="stylesheet" crossorigin="anonymous"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
    
	<script crossorigin="anonymous"
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" >
	</script>

</head>

<body>
    <h2>REPERTUAR</h2>
     <h1>
       <td><a href='/'>COFNIJ</a></td>
     </h1>

    <table class="table">
        <thead>
            <tr>
            <th scope="col">Tytul</th>
            <th scope="col">Premiera</th>
            <th scope="col">Dlugosc</th>
            <th scope="col">Opis</th>
            <th scope="col">Recenzje</th>
            <th scope="col">Jezyk oryginalny</th>
            <th scope="col">Lektor</th>
            <th scope="col">Napisy</th>
            <th scope="col">PG</th>
            </tr>
        </thead>
        <tbody>
        {% for film in filmy %}
            <tr>
                <td>{{ film.tytul }}</th>
                <td>{{ film.premiera }}</td>
                <td>{{ film.dlugosc }}</td>
                <td>{{ film.opis }}</td>
                <td>{{ film.recenzje }}</td>
                <td>{{ film.jezyk_oryginalny }}</td>
                <td>{{ film.jezyk_lektor }}</td>
                <td>{{ film.jezyk_napisy }}</td>
                <td>{{ film.pg_rating }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>



